<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recursion Visualizer</title>
    <link rel="stylesheet" href="/static/CSS/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Recursion Visualizer</h1>
      <div class="dark-mode-toggle-container">
        <label class="switch">
          <input type="checkbox" id="dark-mode-toggle">
          <span class="slider"></span>
        </label>
      </div>
        
      <div id="input-section">
        <h2>Visualize one of the classic recursive functions</h2>
        <select id="function-select">
        <option value="">Choose a classic function</option>
        <option value="factorial">Factorial</option>
        <option value="fibonacci">Fibonacci</option>
        <option value="hanoi">Tower of Hanoi</option>
        </select>

      <h2>OR</h2>

        <h2>Visualize your very own recursive function written in Python</h2>
        <textarea
          id="function-definition"
          placeholder="Enter function definition"
        ></textarea>
        <input
          type="text"
          id="function-call"
          placeholder="Enter function call"
        />
        <button id="visualize-btn">Visualize</button>
      </div>
      <div id="output-section">
        <div id="error-message"></div>
        <div id="svg-container"></div>
      </div>
    </div>
    <script src="https://unpkg.com/viz.js@1.8.1/viz.js"></script>
    <script src="/static/JS/recursive-tree-viz.js"></script>
    <script src="/static/JS/script.js"></script>
  </body>
</html>